services:
  - type: web
    name: catan
    runtime: docker
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: "3001"
      - key: VITE_BASE
        value: "/"
